﻿h2{
    text-align: center;
}

.contenedor{
    width: 30% !important;
    margin-top: 13% !important;
    margin-left: 300px;
    border: 5px;
}

.dropCantPersonas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropUbicacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}